{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Sửa Loại sản phẩm
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Sửa Loại sản phẩm
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<form name="frmHinhThucThanhToan" id="frmHinhThucThanhToan" method="post" action="/shoponline/backend/hinhthucthanhtoan/create.php">
    <div class="form-group">
        <label for="httt_ma">Mã Hình thức thanh toán</label>
        <input type="text" class="form-control" id="httt_ma" name="httt_ma" placeholder="Mã Hình thức thanh toán" readonly>
        <small id="httt_maHelp" class="form-text text-muted">Mã Hình thức thanh toán không được hiệu chỉnh.</small>
    </div>
    <div class="form-group">
        <label for="httt_ten">Tên Hình thức thanh toán</label>
        <input type="text" class="form-control" id="httt_ten" name="httt_ten" placeholder="Tên Hình thức thanh toán">
    </div>
    <button class="btn btn-primary" name="btnCapNhat">Cập nhật</button>
</form>
{% endblock %}
{# End Nội dung trong block content #}