{# Kế thừa layout backend #}
{% extends "backend/layouts/layout.html.twig" %}

{# Nội dung trong block title #}
{% block title %}
Thêm mới Khuyến mãi
{% endblock %}
{# End Nội dung trong block title #}

{# Nội dung trong block headline #}
{% block headline %}
Thêm mới Khuyến mãi
{% endblock %}
{# End Nội dung trong block headline #}

{# Nội dung trong block content #}
{% block content %}
<form name="frmKhuyenMai" id="frmKhuyenMai" method="post" action="/shoponline/backend/khuyenmai/create.php">
    <div class="form-group">
        <label for="km_ma">Mã khuyến mãi</label>
        <input type="text" class="form-control" id="km_ma" name="km_ma" placeholder="Mã khuyến mãi" readonly>
        <small id="km_maHelp" class="form-text text-muted">Mã khuyến mãi không được hiệu chỉnh.</small>
    </div>
    <div class="form-group">
        <label for="km_ten">Tên khuyến mãi</label>
        <input type="text" class="form-control" id="km_ten" name="km_ten" placeholder="Tên khuyến mãi">
    </div>
    <div class="form-group">
        <label for="km_noidung">Nội dung khuyến mãi</label>
        <input type="text" class="form-control" id="km_noidung" name="km_noidung" placeholder="Nội dung khuyến mãi">
    </div>
    <div class="form-group">
        <label for="km_tungay">Ngày bắt đầu</label>
            <input type="text" class="form-control" id="km_tungay" name="km_tungay" placeholder="Ngày bắt đầu khuyến mãi">
    </div>
    <div class="form-group">
        <label for="km_denngay">Ngày kết thúc</label>
        <input type="text" class="form-control" id="km_denngay" name="km_denngay" placeholder="Ngày kết thúc khuyến mãi">
    </div>
    <button class="btn btn-primary" name="btnCapNhat">Cập nhật</button>
</form>
{% endblock %}
{# End Nội dung trong block content #}

{% block customscripts %}
<script>
  $(document).ready(function() {
    $("#frmKhuyenMai").validate({
      rules: {
        km_ten: {
          required: true,
          minlength: 3,
          maxlength: 50
        },
        km_noidung: {
            required: true,
            minlength: 3,
            maxlength: 50
          },
        km_tungay: {
        required: true,
        minlength: 10,
        maxlength: 10
        },
        km_denngay: {
          required: true,
          minlength: 10,
          maxlength: 10
        }
      },
      messages: {
        km_ten: {
          required: "Vui lòng nhập tên Khuyến mãi",
          minlength: "Tên  phải có ít nhất 3 ký tự",
          maxlength: "Tên  không được vượt quá 50 ký tự"
        },
        km_noidung: {
            required: "Vui lòng nhập Nội dung khuyến mãi",
            minlength: "Nội dung khuyến mãi phải có ít nhất 3 kí tự",
            maxlength: "Nội dung khuyến mãi không được vượt quá 50 ký tự"
          },
        km_tungay: {
            required: "Vui lòng nhập Ngày bắt đầu khuyến mãi",
            minlength: "Ngày bắt đầu khuyến mãi phải chỉ 10 kí tự dd/mm/yyyy",
            maxlength: "Ngày bắt đầu khuyến mãi chỉ 10 kí tự dd/mm/yyyy"
          },
        km_denngay: {
          required: "Vui lòng nhập Ngày kết thúc khuyến mãi",
          minlength: "Ngày kết thúc khuyến mãi phải chỉ 10 kí tự dd/mm/yyyy",
          maxlength: "Ngày kết thúc khuyến mãi chỉ 10 kí tự dd/mm/yyyy"
        },
      },
      errorElement: "em",
      errorPlacement: function(error, element) {
        // Thêm class `invalid-feedback` cho field đang có lỗi
        error.addClass("invalid-feedback");

        if (element.prop("type") === "checkbox") {
          error.insertAfter(element.parent("label"));
        } else {
          error.insertAfter(element);
        }

        // Thêm icon "Kiểm tra không Hợp lệ"
        if (!element.next("span")[0]) {
          $("<span class='glyphicon glyphicon-remove form-control-feedback'></span>")
            .insertAfter(element);
        }
      },
      success: function(label, element) {
        // Thêm icon "Kiểm tra Hợp lệ"
        if (!$(element).next("span")[0]) {
          $("<span class='glyphicon glyphicon-ok form-control-feedback'></span>")
            .insertAfter($(element));
        }
      },
      highlight: function(element, errorClass, validClass) {
        $(element).addClass("is-invalid").removeClass("is-valid");
      },
      unhighlight: function(element, errorClass, validClass) {
        $(element).addClass("is-valid").removeClass("is-invalid");
      }
    });

  });
</script>
{% endblock %}
