<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/shoponline/assets/vendor/bootstrap/css/bootstrap.min.css" type="text/css" />

    <!-- Custom css - Các file css do chúng ta tự viết -->
    <link rel="stylesheet" href="/shoponline/assets/backend/css/style.css" type="text/css" />

    <!-- Block title - Đục lỗ trên giao diện bố cục chung, đặt tên là `title` -->
    <title>Shop online - Mọi lúc mọi nơi |
        {% block title %}
        {% endblock %}
    </title>
    <!-- End block title -->
</head>
<body>
    


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS jQuery validate-->
    <script src="/shoponline/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/shoponline/assets/vendor/popperjs/popper.min.js"></script>
    <script src="/shoponline/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/shoponline/assets/vendor/feather/feather.min.js"></script>

    <script src="/shoponline/assets/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="/shoponline/assets/vendor/jquery-validation/messages_vi.min.js"></script>

    <!-- Custom script - Các file js do mình tự viết -->
    <script src="/shoponline/assets/backend/js/app.js"></script>
</body>
</html>